@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,400&display=swap');


html {
    height: 100%;
}

/* COLOR BODY */
body {
    background-color: #f5f5f5d1;
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

/*! Navbar !! LISTO*/

.navbar img {
    margin-right: 50px;
}

/* BOTON BUSCAR */
.btn.btn-outline-success {
    border-color: #EB6440;
    color: #EB6440;
    border-radius: 10px 10px;
}

/* HOVER BOTON BUSCAR */
.btn.btn-outline-success:hover {
    background-color: #EB6440;
    color: whitesmoke;
}

/* BORDE BOTON QUE ESTAS BUSCANDO */
.form-control {
    border-radius: 10px;
    text-align: center;
    border-color: #EB6440;
}

/*  SOMBRA INPUT BTN BUSCAR */
.form-control:focus {
    box-shadow: 1px 1px 8px #EB6440;
    outline: 0 none;
}

/* TAMAÑO DEL CARRITO */
.bi-cart4 {
    font-size: 25px;
    margin-left: 25px;
    color: black;
}

.bi-cart4:hover {
    color: maroon;
}

/* TEXTO Y COLOR NAVBAR */
.navbar {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: #EB6440;
}

.container-fluid.nav {
    background-color: #c2bbbb54;
}

/* !Fin Navbar */

/* ! Footer !! LISTO */
/* COLOR FOOTER */
.footer {
    background-image: linear-gradient(to bottom, #f5f5f5d1 0%, #eb6540d5 300%);
    margin-top: auto;
}

/* INPUT MAIL */
.me-2.mail:focus {
    box-shadow: none;
    border-color: #EB6440;
}

/* BOTON SUSCRIBIRME */
.btn-outline-success.suscrip {
    color: black;
    font-weight: 500;
}

/*  LOGOS: TW,FB,IG */
.bi-twitter,
.bi-instagram,
.bi-facebook {
    font-size: 22px;
    color: black;
}

.bi-twitter:hover,
.bi-instagram:hover,
.bi-facebook:hover {
    color: blue;
    transition: 0.2s;
}

/* DE LINKS */
.border-navs {
    border-bottom: 1px solid #908d8d88;
}

/* linea baja */
.border-n {
    border-top: 1px solid #908d8d88;
}

/* ! Fin Footer */

/* ! Cards Index !! LISTO */
.card {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.card h5 {
    color: #EB6440;
    font-size: 20px;
}

.card img {
    background-color: #cccccc;
}

.card p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.card-body a {
    text-align: center;
    text-decoration: none;
}

.card-img-top:hover {
    transform: scale(1.03);
    border-radius: 15px;
}

/* ! Fin Cards */

/* ! Comienzo Lineas !! LISTO */
.lineas {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    font-family: 'Roboto', sans-serif;
}

.lineas h2 {
    position: relative;
    /* mueve las lineas con respecto al texto */
    display: inline-block;
    color: #eb654077;
    transition: 0.1s ease-in-out;
    /* inicio y fin lentos */
}

.lineas h2::after {
    content: '';
    /* es necesario para que se vea las lineas */
    position: absolute;
    top: 50%;
    /* posicion de ubicacion de la linea */
    border-bottom: 3px solid #eb65403c;
    width: 18em;
    /* tamaño de la linea */
    height: 3px;
    right: -19em;
}

.lineas h2::before {
    left: -19em;
    /* posicion linea */
    content: '';
    /* es necesario para que se vea las lineas */
    position: absolute;
    top: 50%;
    /* posicion de ubicacion de la linea */
    border-bottom: 3px solid #eb65403c;
    width: 18em;
    /* tamaño de la linea */
    height: 3px;
}

.lineas h2:hover::before {
    translate: -20px;
    /* se mueve -20px */
}

.lineas h2:hover::after {
    translate: 20px;
}

/* !Fin Lineas */


/* ! Cards Destacados !! LISTO */
/* SOMBRA CARDS */
.destacadas {
    border-radius: 18px 18px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.237), 0 0px 6px rgba(82, 51, 4, 0.319);
}

/* ALTURA CARD 1 */
.card-img.card-1-dest {
    height: 250px;
}

.card.destacadas img {
    border-radius: 18px 18px;
    background-color: #6d6d6d42;
}

/* HOVER CARD */
.destacadas.wh:hover {
    transform: scale(1.05);
}

.card.destacadas h5 {
    color: black;
    font-weight: 400;
    font-size: 16px;
}

/* ! Fin de Cards Destacados */

/* ! Catalogo Productos !! LISTO */
.card.cards-productos {
    border-radius: 30px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.06);
    height: 500px;
}

.card.cards-productos img {
    border-radius: 30px;
    background-color: rgba(128, 128, 128, 0.192);
}

.card.cards-productos a {
    border-radius: 50px;
    width: 150px;
}

.card.cards-productos a:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    border: none;
}

.titulo-productos {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
    text-shadow: 5px 5px 5px #aaa;
    color: gray;

}

.card.cards-productos h4 {
    color: rgb(0, 91, 228);
}

.card.cards-productos h5 {
    font-weight: 500;
    font-size: 18px;
}

.card.cards-productos p {
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

.card.cards-productos:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* ! Fin Catalogo Productos */

/* ! CARRITO */

/* color del card total */
.bg-color {
    background-color: rgba(128, 128, 128, 0.393);
    border-radius: 15px;
}

.card.cart {
    border-radius: 45px;
}

/* titulo productos */
.card.cart h1 {
    font-weight: 600;
    font-size: 35px;
}

/* redondeo imagen */
.card.cart img {
    border-radius: 20px;
}

.form-select.cart {
    width: 75px;
}

.bi.bi-trash3 {
    font-size: 22px;
}

.card.cart h5 {
    color: black;
    font-size: 18px;
    font-weight: 400;
}

.btn.btn-outline-secondary {
    border-color: black;
    background-color: black;
    color: white;
    font-weight: 500;
}

.btn.btn-outline-secondary:hover {
    background-color: #EB6440;
    color: whitesmoke;
}

/* ! FIN CARRITO */

/* ! Descripcion Productos !! LISTO*/
.productos p {
    font-size: 16px;
    text-align: justify;
}

.productos strong {
    font-weight: 400;
    font-size: 38px;
    text-shadow: 5px 5px 5px #aaa;
    ;
}

.productos img {
    width: 500px;
    height: auto;
}

.precios span:last-child {
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
}

.precios span:first-child {
    font-weight: 400;
    font-size: 35px;
    color: #EB6440;
}

.form-select {
    width: 200px;
    text-align: center;
    border-radius: 10px;
    border-color: #EB6440;
}

.productos button {
    color: white;
    font-weight: 400;
    border-radius: 10px;
    border-color: #EB6440;
    background-color: #EB6440;
}

.productos button:hover {
    background-color: aliceblue;
    color: black;
    border-color: #EB6440;
}


/* ! Fin Descripcion Productos */

/* ! mpagos */
.mp {
    border-right-color: #eb65407c;
    border-right-style: groove;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 18px;
    font-weight: 500;
}

/* ! nosotros */

.nosotros {
    display: flex;
    align-items: center;
}

.nt{
    position:relative;
    display:inline-block;
    text-align: center;
    color: rgba(245, 245, 245, 0.625);
}

.centrado{
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}